<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968674891645-ahtonicosl4423d1db5r8srv9qhfech9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968674891645-ahtonicosl4423d1db5r8srv9qhfech9</string>
	<key>API_KEY</key>
	<string>AIzaSyCh4hNZYmdXjJj9xdDr1ltMT_SAuNflX_I</string>
	<key>GCM_SENDER_ID</key>
	<string>968674891645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohit.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2980d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2980d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968674891645:ios:016b7d64be5d7b27bf9e14</string>
</dict>
</plist>